.cabecalho__menu-hamburguer { /* Criação do menu hamburguer e configuração dele*/
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center; /* Centraliza uma imagem horizontalmente ao centro */
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer { /* O combinador CSS ">" faz com que seja procurado dentro de .container__rotulo a classe chamada  ".cabecalho__menu-hamburguer"*/
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* position: relative, libera a opção de você botar outros atributos como top, left, right...*/
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu { /* Faz com que a lista sempre esteja desativada*/
    display: none;
    position: absolute; /*position: absolute - Permite que você movimente o elemnto de acordo com outro elemento pai */
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu { /* Verifica se o container__botao está checado, já que ele é uma check box. o "~" é um combinador CSS, que faz com que seja procurada outra classe, no caso, lista-menu*/
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text; /* webkit é usado para ter certeza que irá funcionar em todos os navegadores */
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase; /* converte os caracteres para maiúsculos */
}

.container__botao {
    display: none; /* Desabilita visualmente o botão de checagem */
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover { /*A pseudoclasse "hover" detecta a passada do mouse em cima de um elemento*/
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}