@import url(header.css); /* Ao importar o header.css dessa forma, o HTML fica com menos links de stylesheet, e porque o carregamento será feito de uma unica vez, ao invés de várias (carregamento mais rápido). */

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
}